#questions {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  font-size: 250%;
}

#questions-caption {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
}

.contact-info-container {
  margin: auto 2%;
}

.form-email {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-bottom: 0;
}

.email {
  margin-bottom: 2%;
  font-family: 'Ubuntu Condensed', sans-serif;
  width: 20em;
}

.message {
  font-family: 'Ubuntu Condensed', sans-serif;
}

#message-length {
  float: right
}

.submit-button-container {
  text-align: center;
  margin-top: 1%;
}

.btn-primary {
  font-family: 'Ubuntu Condensed', sans-serif;
  border-radius: 10px;
}

#g-recaptcha {
  display: inline-block;
}

.recaptcha-container {
  margin-top: 2%;
  text-align: center
}

.toast-container {
  font-family: 'Ubuntu Condensed', sans-serif
}

#spinner {
  width: 5%;
}

.green {
  color: #61B329
}

.red {
  color: #cc0000
}

.btn {
  background-color: #365685;
  border: none
}

.btn:hover {
  background-color: #517bb8
}