.title-container {
  text-align: center;
}

#hkn {
  width: 50%;
  margin-top: 4%;
}

#lambda {
  font-family: Ailerons;
  color: #365685;
  font-size: 175%;
  margin-top: 1%;
  text-align: center;
  padding: 0 2%;
}

#triangle {
  margin-top: 6%;
}

#ucr {
  color: #F1AB00;
}