@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

@font-face {
  font-family: Ailerons;
  src: url('./assets/fonts/Ailerons-Typeface.otf');
}

@font-face {
  font-family: Metropolis;
  src: url('./assets/fonts/Metropolis-Regular.otf');
}

@font-face {
  font-family: Metropolis;
  src: url('./assets/fonts/Metropolis-Bold.otf');
  font-weight: bold;
}
